html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

/* --------- */

:root {
  font-family: var(--roboto-font);
  scroll-behavior: smooth;
  font-size: 1vw;
  font-weight: 400;

  --color-1-1: #ffebd9;
  --color-4: #ff5757;
  --white-color: #ffffff;
  --text-color: #42313a;
  --text-color-hover: #000;
  --btn-color: #ff5757;
  --btn-color-hover: #fc4242;

  --montserrat-font: "Montserrat", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --radius: 10px;
  --transition: 0.2s;
  --shadow-block: 0 0 40px -15px #000000;
  --bg-gradient-block: linear-gradient(270deg, #ebc7a8 0%, #f7e6d7 100%);
  --margin-top-1: clamp(10px, 0.625rem + 8px, 20px);
  --font-size-responsive: clamp(14px, 0.25rem + 13.2px, 18px);
  --margin-top-2: clamp(50px, 1.875rem + 44px, 80px);
  --margin-top-3: clamp(20px, 1.25rem + 16px, 40px);
}

body {
  background: var(--bg-gradient-block);
  max-width: 2520px;
  margin: 0 auto;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(10px, 2.54rem + 1.9px, 40px);
  height: 100%;
}

.btn {
  background-color: var(--btn-color);
  padding: clamp(15px, 0.625rem + 13px, 25px) clamp(40px, 1.25rem + 36px, 60px);
  border-radius: var(--radius);
  display: inline-block;
  color: var(--white-color);
  transition: var(--transition);
  position: relative;
  letter-spacing: 1px;
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: clamp(12px, 0.375rem + 10.8px, 18px);
}

.btn:hover {
  box-shadow: 0 0px 30px -5px var(--btn-color-hover);
  background-color: var(--btn-color-hover);
}

h2 {
  text-align: center;
  font-family: var(--montserrat-font);
  font-size: var(--margin-top-3);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
}

h4 {
  font-family: var(--montserrat-font);
  font-size: clamp(15px, 0.438rem + 13.6px, 22px);
  font-weight: 700;
  margin-bottom: clamp(10px, 0.313rem + 9px, 15px);
  color: var(--text-color);
}

h5 {
  font-family: var(--roboto-font);
  font-size: clamp(14px, 0.186rem + 13.4px, 17px);
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--text-color);
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

p,
.participants__requirements-link {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: var(--font-size-responsive);
  color: var(--text-color);
}

p span {
  font-weight: 500;
}

svg path {
  fill: var(--color-4);
}

/* btn-up */

.btn-up {
  position: fixed;
  background-color: var(--text-color);
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  width: clamp(40px, 0.625rem + 38px, 50px);
  height: clamp(40px, 0.625rem + 38px, 50px);
  opacity: 1;
  transform: translateY(0);
  z-index: 999;
  border: 1px solid var(--white-color);
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 25px;
  height: 25px;
}

.btn-up-icon path {
  fill: var(--white-color) !important;
}

/* header */

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: linear-gradient(270deg, #e7bc96 0%, #fadcc0 100%);
  padding: 20px 0;
  transition: 0.5s;
  box-shadow: 0 -15px 30px 2px #000000;
}

.header__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 clamp(10px, 2.54rem + 1.9px, 40px);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: clamp(30px, 3.33rem + -14px, 50px);
}

.header__nav-link {
  color: var(--text-color);
  letter-spacing: 1.5px;
  transition: 0.3s;
  position: relative;
  font-family: var(--montserrat-font);
  font-weight: 500;
  font-size: var(--font-size-responsive);
  opacity: 0.95;
}

.header__nav-link::before {
  position: absolute;
  content: "";
  background-color: var(--color-4);
  height: 2px;
  width: 0px;
  opacity: 0;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}

.header__nav-link:hover {
  color: var(--text-color-hover);
  opacity: 1;
}

.header__nav-link:hover::before {
  width: 100%;
  opacity: 1;
}

.header.scrollNav {
  padding: 10px 0;
  background-color: var(--color-1-1);
}

.header__logo {
  width: clamp(50px, 1.875rem + 44px, 80px);
  height: clamp(50px, 1.875rem + 44px, 80px);
}

/* burger */

.header__burger-wrapper {
  align-self: center;
  display: none;
  height: 18px;
  width: 35px;
  cursor: pointer;
}

.header__burger-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header__burger-btn,
.header__burger-btn::after,
.header__burger-btn::before {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 10px;
  transition: 0.5s;
}

.header__burger-btn::after,
.header__burger-btn::before {
  position: absolute;
  content: "";
  right: 0;
}

.header__burger-btn::before {
  width: 80%;
  top: -10px;
}

.header__burger-btn::after {
  top: 10px;
  width: 60%;
}

.header__burger-wrapper:hover > .header__burger-btn::before,
.header__burger-wrapper:hover > .header__burger-btn::after,
.header__burger-wrapper:hover > .header__burger-btn {
  width: 100%;
}

.burger {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -100%;
  top: 0;
  transition: var(--transition);
  display: none;
  background-color: var(--secondary-bg-color);
  flex-direction: column;
  overflow-y: auto;
}

.burger__header {
  padding: 10px 20px;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--color-1-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__content {
  width: 100%;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-image: url("../images/sauna.jpg");
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.burger__navigation {
  position: relative;
  z-index: 5;
  padding: 20px 0;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.burger__nav-link {
  color: var(--white-color);
  font-family: var(--montserrat-font);
  font-size: 20px;
  transition: var(--transition);
}

/* banner */

.banner {
  height: min(800px, 100vh);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.375) 40%, rgba(0, 0, 0, 1) 100%), url("../images/venik.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 90%;
  position: relative;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  box-shadow: 0 0 30px -5px #000000;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--text-color);
  opacity: 0.1;
}

.banner__wrapper {
  position: relative;
  z-index: 1;
  color: var(--white-color);
  max-width: 1100px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 50px));
}

.banner h1,
.banner p,
.banner a {
  font-family: var(--montserrat-font);
  color: var(--white-color);
}

.banner__date {
  font-size: clamp(15px, 1.56rem + 10px, 40px);
  font-weight: 600;
}

.banner h1 {
  font-weight: 700;
  font-size: clamp(20px, 1.875rem + 14px, 50px);
  text-transform: uppercase;
  margin-top: var(--margin-top-1);
}

.banner__partner-title {
  font-size: clamp(14px, 0.375rem + 12.8px, 20px);
  font-weight: 600;
  margin: clamp(30px, 0.625rem + 28px, 40px) 0 var(--margin-top-1);
}

.banner .banner__partner {
  color: #05a9b7;
  font-weight: 700;
  font-size: clamp(25px, 0.625rem + 23px, 35px);
}

/* about  */

.about {
  margin-top: clamp(40px, 1.25rem + 36px, 60px);
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  padding-bottom: var(--margin-top-3);
  margin-bottom: var(--margin-top-3);
  position: relative;
}

.about__wrapper::before {
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--color-4);
  border-radius: var(--radius);
  width: 20%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about__ev-title {
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--montserrat-font);
  font-size: var(--margin-top-3);
  color: var(--color-4);
}

.about__location-title {
  text-align: left;
  font-size: 30px;
  text-transform: unset;
}

.about__location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.about__address {
  display: flex;
  gap: 10px;
}

.about__img-wrapper {
  border-radius: var(--radius);
  overflow: hidden;
  height: 400px;
}

.about__goals-title {
  font-weight: 700;
  font-family: var(--montserrat-font);
  font-size: clamp(20px, 0.625rem + 18px, 30px);
  color: var(--text-color);
}

.about__goals svg,
.laznya__list svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.about__goals-list,
.laznya__list {
  margin-top: var(--margin-top-1);
  display: flex;
  flex-direction: column;
  gap: var(--margin-top-1);
}

.laznya__list {
  gap: 10px;
  margin-bottom: var(--margin-top-1);
}

.about__goals-item,
.laznya__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* participants */

.participants {
  margin-top: var(--margin-top-2);
}

.participants,
.laznya,
.volunteers {
  padding: clamp(40px, 1.25rem + 36px, 60px) 0;
  border-radius: 30px;
  box-shadow: var(--shadow-block);
  overflow: hidden;
  background: linear-gradient(270deg, #e0b58f 0%, #f3d6ba 100%);
}

.participants {
  background: linear-gradient(rgba(19, 11, 18, 0.9) 0%, rgba(19, 11, 18, 0.9) 100%), url("../images/wood.webp") center no-repeat;
  background-size: cover;
}

.participants h2,
.participants h4,
.participants p {
  color: var(--white-color);
  line-height: 1.5em;
}

.participants h2 {
  margin-bottom: clamp(20px, 1.875rem + 14px, 50px);
}

.participants p {
  font-weight: 300;
}

/* achivements */

.achivements svg {
  height: clamp(50px, 3.125rem + 43.7px, 100px);
  width: clamp(50px, 3.125rem + 43.7px, 100px);
  min-width: clamp(50px, 3.125rem + 43.7px, 100px);
}

.achivements__list {
  display: flex;
  row-gap: var(--margin-top-3);
  column-gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.achivements__item {
  display: flex;
  gap: 10px;
  transition: var(--transition);
  max-width: 650px;
}

.achivements__item:last-child {
  max-width: 1000px;
}

.achivements__item:hover {
  transform: scale(1.02);
}

.achivements__text {
  display: flex;
  flex-direction: column;
}

.achivements__text p span {
  font-weight: 600;
}

/* stages */

.stages {
  margin-top: var(--margin-top-2);
}

.st__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--margin-top-3);
  margin-top: 10px;
}

.stages h4 {
  text-align: center;
}

.st__item {
  transition: var(--transition);
  position: relative;
}

.st__item:hover {
  transform: scale(1.02);
}

.range {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.range::before {
  border-top: 2px dashed var(--color-4);
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
}

.st__point {
  border-radius: 50%;
  position: relative;
  height: 15px;
  width: 15px;
  border: 2px solid var(--color-4);
  padding: 1px;
  background-color: #d9b595;
}

.st__point span {
  background-color: var(--color-4);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.st__item > .st__point {
  display: none;
}

.st__item a {
  color: var(--color-4);
  text-decoration: underline;
}

/* participation */

.participation {
  margin-top: var(--margin-top-2);
}

.participation__btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.participation__list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.participation__item p {
  text-align: center;
}

.participants__requirements {
  margin-top: var(--margin-top-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--margin-top-3);
}

.participants__requirements-link {
  color: var(--white-color);
  border-radius: var(--radius);
  border: 1px solid var(--white-color);
  padding: clamp(15px, 0.625rem + 13px, 25px) clamp(40px, 1.25rem + 36px, 60px);
  text-align: center;
  transition: var(--transition);
}

.participants__requirements-link:hover {
  color: var(--text-color-hover);
  background-color: var(--white-color);
  box-shadow: 0 0 20px -7px var(--white-color);
}

/* referee */

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  color: var(--text-color) !important;
  transform: scale(0.8) translateY(25%);
}

.referee {
  margin-top: var(--margin-top-2);
  text-align: center;
}

.referee__wrapper {
  margin-top: var(--margin-top-3);
  display: flex;
  align-items: center;
}

.referee__swiper,
.partners__swiper,
.sponsors__swiper {
  width: 90% !important;
}

.referee__img-wrapper {
  border-radius: var(--radius);
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
  border: 2px solid var(--text-color);
  position: relative;
}

.referee__img-wrapper img {
  position: relative;
  object-position: 50% 20%;
}

.referee__img-wrapper svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.referee__img-wrapper svg path {
  fill: var(--text-color);
}

.referee__status {
  font-size: 13px;
}

/* laznya */

.laznya {
  margin-top: var(--margin-top-2);
}

.laznya__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: var(--margin-top-3);
}

.laznya__swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: var(--white-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--btn-color-hover) !important;
}

.laznya__subtitle {
  font-family: var(--montserrat-font);
  font-weight: 700;
  color: var(--text-color);
  font-size: 20px;
}

.laznya__img-wrapper {
  height: 400px;
  overflow: hidden;
  border-radius: var(--radius);
  border: 2px solid var(--text-color);
}

.laznya__btn {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-3);
}

/* partners-sponsors */

.partners-sponsors {
  margin-top: var(--margin-top-2);
}

.partners-sponsors__btn {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top-3);
}

.partners-sponsors .swiper-slide {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: var(--radius);
}

/* partners */

.partners-sponsors img {
  object-fit: contain;
}

.partners__wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--margin-top-3);
}

.general-partner {
  margin: 0 auto var(--margin-top-3);
}

.partners__img-wrapper {
  height: clamp(100px, 3.125rem + 90px, 150px);
  width: clamp(100px, 3.125rem + 90px, 150px);
}

.partners__img-slide-wrapper {
  height: 150px !important;
}

/* .partners . */

/* sponsors */

.sponsors {
  margin-bottom: var(--margin-top-2);
}

.sponsors__wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--margin-top-3);
}

/* volunteers */

.volunteers {
  margin-top: var(--margin-top-2);
}

.volunteers__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.volunteers__img-wrapper {
  height: 300px;
  border-radius: var(--radius);
  overflow: hidden;
}

.volunteers__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* contacts */

.contacts {
  margin: var(--margin-top-2) 0;
  position: relative;
}

.contacts__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.contacts__card-item {
  display: flex;
  gap: 15px;
}

.contacts__card-text {
  flex: 1;
}

.contacts__icon {
  background-color: var(--text-color);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 0 50% 0;
  box-shadow: 0 0 20px -5px #000;
}

.contacts__icon svg path {
  fill: var(--white-color);
}

.contacts__map {
  border-radius: var(--radius);
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin: 30px auto 0;
}

.contacts__map iframe {
  height: 100%;
  width: 100%;
}

.contacts__subtitle {
  position: relative;
  margin-bottom: 20px;
}

.contacts__subtitle::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--text-color);
  bottom: -10px;
  width: 100%;
}

.contacts__phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts__phone-wrapper a {
  font-family: var(--roboto-font);
  font-size: var(--font-size-responsive);
  color: var(--text-color);
  text-decoration: underline;
}

.contacts__phone-wrapper span {
  font-weight: 300;
  font-style: italic;
}

.contacts__info-item {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 5fr;
  border-radius: 20px;
  box-sizing: border-box;
}

/* footer */

.footer {
  height: clamp(80px, 1.25rem + 76px, 100px);
  background-color: var(--text-color);
}

.footer__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p,
.footer a {
  color: #a39898;
  font-size: clamp(12px, 0.125rem + 11.6px, 14px);
}

@media screen and (max-width: 1400px) {
  .achivements__item {
    max-width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .achivements__list {
    flex-direction: column;
    align-items: center;
  }

  .achivements__item {
    max-width: 800px;
  }

  .achivements__item:last-child {
    max-width: 800px;
  }

  .participation__content {
    display: flex;
  }

  .participation__list {
    grid-template-columns: 1fr;
    margin: unset;
  }

  .participation__range {
    margin: 3px 15px 0 0;
    flex-direction: column;
  }

  .participation__range::before {
    border-top: unset;
    border-left: 2px dashed var(--color-4);
    left: 40%;
    top: 0;
    width: unset;
    height: 100%;
  }

  .participation .range > .st__point:nth-child(1),
  .participation .range > .st__point:nth-child(2) {
    display: none;
  }

  .participation__item > .st__point {
    display: block;
    position: absolute;
    top: 2px;
    left: -30px;
  }

  .participation__item p {
    text-align: start;
  }

  .participants__email-wrap {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__burger-wrapper {
    display: block;
  }

  .header__navigation {
    display: none;
  }

  .header {
    padding: 10px 0;
  }

  .about__wrapper {
    grid-template-columns: 1fr;
    grid-gap: var(--margin-top-1);
  }

  .about__location {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .about__img-wrapper,
  .laznya__img-wrapper {
    height: clamp(200px, 17.24rem + 145px, 300px);
  }

  .volunteers__wrapper,
  .laznya__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .volunteers__img-wrapper {
    grid-row: 1/2;
    height: 200px;
    grid-gap: 20px;
  }

  .volunteers__text {
    gap: 20px;
    align-items: center;
  }

  .contacts__cards {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .contacts__map {
    width: 100%;
    height: clamp(200px, 26.316rem + 116px, 300px);
  }

  .referee__swiper,
  .partners__swiper,
  .sponsors__swiper {
    width: 80% !important;
  }
}

@media screen and (max-width: 700px) {
  .st__list {
    grid-template-columns: 1fr;
    margin: unset;
  }

  .stages h4 {
    text-align: left;
  }

  .stages__content {
    display: flex;
  }

  .range {
    margin: 3px 15px 0 0;
    flex-direction: column;
  }

  .range::before {
    border-top: unset;
    border-left: 2px dashed var(--color-4);
    left: 40%;
    top: 0;
    width: unset;
    height: 100%;
  }

  .range > .st__point:nth-child(1) {
    display: none;
  }

  .st__item > .st__point {
    display: block;
    position: absolute;
    top: 2px;
    left: -30px;
  }

  .contacts__icon {
    height: 35px;
    width: 35px;
  }

  .contacts__icon svg {
    height: 20px;
    width: 20px;
  }

  .participants__requirements {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .referee__img-wrapper {
    height: 300px;
  }
}
